<table class="table">
    <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <a routerLink="/products/{{product._id}}">
                <button mat-mini-fab color="primary">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </a>
        </td>
    </tr>
</table>