<h2>Product Details</h2>

<div class="productDetails">
    <div class="informationColumn">
        <div class="name">Name: {{product.name}}</div>
        <div class="category">Category: {{product.category.name}}</div>
        <div class="price">Price: {{product.price}}</div>
        <div class="description">Description: {{product.description}}</div>
        <button class="button">
            Add to cart
        </button>
    </div>
    <div class="imageColumn">
        <img class="image" src={{imageApi}} />
    </div>
</div>