.productDetails {
  margin: 2vh;
  padding: 2vh;
  line-height: 200%;
  border-style: solid;
  border-width: 3px;
  border-color: #405fbb;
}

.informationColumn {
  float: left;
  width: 60%;
}

.imageColumn {
  float: left;
  width: 40%;
}

.productDetails:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  display: inline-block;
  border: none;
  background-color: #405fbb;
  color: white;
  padding: 5px;
}

.image {
  max-width: 100%;
  height: auto;
}
