<h2>Product Details</h2>

<div class="productDetails">
    <div class="informationColumn">
        <div class="name">Name: {{product.name}}</div>
        <div class="category">Category: {{product.category.name}}</div>
        <div class="category">Supplier: {{product.supplier.name}}</div>
        <div class="price">Price: {{product.price}}</div>
        <div class="price">Weight: {{product.weight}}</div>
        <div class="description">Description: {{product.description}}</div>
        <button class="button" mat-raised-button color="primary" (click)="addProductToShoppingCart()">Add to cart
        </button>
        <a routerLink="/shoppingCart">
            <button class="button" mat-raised-button color="primary">See shopping cart</button>
        </a>
        <a routerLink="/products">
            <button class="button" mat-raised-button color="primary" (click)="deleteProduct()">Delete product from
                catalogue
            </button>
        </a>

        <button class="button" mat-raised-button color="primary" (click)="openProductForm()">Edit product</button>
    </div>
    <div class="imageColumn">
        <img class="image" src={{imageApi}} />
    </div>
</div>