<div class="form-container">
    <form [formGroup]="loginForm">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label i18n="@@loginUsername"> Username
            </mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label i18n="@@loginPassword"> Password
            </mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()" i18n="@@loginButton">Log In</button>
    </form>
</div>